<div class="maincontainer">
  <h1>Dream House</h1>


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6" style="padding: 0; margin-left:15px;width:48.5%;">
        <img src="../../assets/Images/dbg1.jpg"width="100%"height="600">
      </div>
      <div class="col-sm-3 col-md-6" style="background-color: #2e3329;height: 600px; width:48.7%;">
        <h2>Amanda Martocchio Architecture</h2>
        <p>The design for this client’s “dream house on the water” capitalizes 
            on every opportunity to incorporate views of the Long Island Sound within the home. 
            The placement and expanse of the fir windows and sliding doors
             underscore the water’s proximity.</p>
        <a href="">Read More</a>
      </div>
    </div>
  </div>

  <div class="clr"></div>



  <h3>Good Work</h3>
  <div class="container-fluid" id="col1">
    <div class="row">
      <div class="col-sm-3 col-md-6" style="padding: 0; margin-left:15px;width:48.5%;">
        <img src="../../assets/Images/dbg2.jpg"width="100%"height="600">
      </div>
      <div class="col-sm-3 col-md-6" style="background-color: #2e3329;height: 600px; width: 48.7%;">
       <div class="roundimage">
         <img class="rimg"src="../../assets/Images/dbg3.jpg" width="100%"height="200">
       </div>
        <h2 class="row2h2">Greenwich Modern</h2>
        <p class="row2p2">The design for this client’s “dream house on the water” capitalizes 
            on every opportunity to incorporate views of the Long Island Sound within the home. 
            The placement and expanse of the fir windows and sliding doors
             underscore the water’s proximity.</p>
        <a href="">Read More</a>
      </div>
    </div>
  </div>
  <div class="blogDiv">
  <h4 class="title">From our blog</h4>
  <div class="container">
    <div class="row1">
      <div class="col">
        
        <img src="../../assets/Images/blog1.jpg"width="100%" height="200" style="position: relative;">
        <h5 id="imgh"> Innovate Design</h5>
        <p id="imgp">
          Lorem Ipsum roin gravide nibh vel velit auctor aloiol icitudin ,lorem nisi elit
        </p>
        <a id="imga" href="#">Read More</a>
      </div>
      <div class="col">
        <img src="../../assets/Images/blog2.jpg"width="100%"   height="200"style="position: relative;">
        <h5 id="imgh">Best Experience</h5>
        <p id="imgp">
          Lorem Ipsum roin gravide nibh vel velit auctor aloiol icitudin ,lorem nisi elit
        </p>
        <a id="imga" href="#">Read More</a>
      </div>
      <div class="col">
        <img src="../../assets/Images/blog1.jpg"width="100%"  height="200" style="position: relative;">
        <h5 id="imgh">More Opportunity</h5>
        <p id="imgp">
          Lorem Ipsum roin gravide nibh vel velit auctor aloiol icitudin ,lorem nisi elit
        </p>
        <a id="imga" href="#">Read More</a>
      </div>
    </div>
  </div>
  </div>









































</div>


































