<div class="menu">

    <h5>CONTACT US</h5>

<h1>Like Our Work's ?</h1>

<p> Lorem Ipsum roin gravida nibh vel velit auctor aliollicitudin, lorem quis bibendum 
    auctor nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate 
     a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
<div class="atag">
    <a href="#">GET IN TOUCH</a>
</div>

<div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="361" id="gmap_canvas" src="https://maps.google.com/maps?q=thanjavur&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-org.net"></a><br><style>.mapouter{position:relative;text-align:right;height:361px;width:1080px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:361px;width:1080px;}</style></div></div>






<!-- footer -->


<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3" >
        <ul class="service">
            <li style="font-weight: bolder;">
                Service:
            </li>
            <li>
              Interiors  Works
            </li>
            <li>
              Exteriors Works
            </li>
            <li>
              Rent &Buy
            </li>
        </ul>
    </div>
      <div class="col-sm-6" >
        <ul class="service">
          <li style="font-weight: bolder;">
              Our Office
          </li>
          <li>
            Coldwell Real Estate Of the vally 
            1289 Main st Helena,CA,94571
          </li>
          <li>
            128,5 th floor ADP Complex,Second cross,Mountain Road,Pune
          </li>
          <li>
            132,4 th floor BCH Complex,Third cross,East Road,Mumbai
          </li>
      </ul>
    </div>
      <div class="col-sm-3">
        <ul class="connect">
          <li style="font-weight: bolder;">
              Connect:
          </li>
          <li>
            Mobile:+91-8220707670
          </li>
          <li>
            Office:+91-9080139243
          </li>
          <li>
            Email:XYZ@gmail.com
          </li>
      </ul>
    
    
    
    </div>
    </div>
  </div>
 








</div>


