<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <div class="dropdown">
          <button class="dropbtn">othersites</button>
          <div class="dropdown-content">
            <a routerLink="chennai" (click)="xyz()">Chennai</a>
            <a routerLink="mumbai" (click)="mumbai()">Mumbai</a>
            <a routerLink="kerala" (click)="kerala()">Kerala</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Properties</button>
          <div class="dropdown-content">
            <a routerLink="singlepropert" (click)="single()">Property Single</a>
            <a routerLink="mumbai" (click)="mumbai()">Standatrd List</a>
            <a routerLink="gallery" (click)="gallery()">Gallaery List</a>
            <a routerLink="mumbai" (click)="mumbai()">Mansory List</a>
            
          </div>
        </div>
        <!-- <a class="navbar-brand" routerLink="home">Our Sites</a> -->
  
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="dreamhouse">DreamcHouse</a></li>
        <li><a routerLink="design">Our Design</a></li>
        <li><a routerLink="contacts">Contact US</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="fa fa-search"></span></a></li>
        <li><a href="#"><span class="fa fa-building"></span></a></li>
      </ul>
    </div>
  </nav>
  <div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#" class="google"><i class="fa fa-google"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
  </div>
  
  <div class="clr"></div>
  
 
  
  
  
