<div class="menu">

    <div class="top">
        <ul>
            <li>
                <a href="#"><span class="fa fa-map-marker"></span> Project Complex</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sun-o"></span> Project Park</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-camera"></span> Project Gallery</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-diamond"></span> Project Villa</a>
            </li>
        </ul>
    </div>


    <div class="second">
       <div class="row">
        <div class="col-md-6" >
            <h1 class="h1">Delivering High Quality Projects</h1>
            <h2 class="h2">Lorem ipsum proin gravida nibh vel velit auctor 
                aliollici tudin sed odio sit amet nibh vulputate</h2>
                <p class="p">Lorem ipsum proin gravida nibh vel velit auctor aliollicitudin, 
                    lorem quis bibendum auctor nisi elit consequat ipsum, nec sagittis. Morbi accumsan ipsum velit.
                     Nam nec tellus a odio tincidunt auctor a ornare odio.
                      Sed non mauris vitae erat consequat auctor.</p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/Images/simg1.jpg" width="100%">
        </div>
       </div>
    </div>

</div>
