<div class="homePage">
    <div class="row1">
      <h1>REAL <br>ESTATE <br>AGENCY</h1>
    
      <p>Villa G is located in Kaunas, Lithuania and is seated on the river bank of its<br>
        largest river Nemunas. The river offers an exceptional view from the house,<br>
        however, it is facing the North side of the site while the street is<br>on the South.</p>
      </div>
    </div>
    
    <div class="row2">
    <div class="container-fluid">
     
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/Images/bg2..jpg" width="100%">
        </div>
        <div class="col-md-4">
         <img src="../../assets/Images/bg3.jpg" width="100%">
        </div>
        <div class="col-md-4">
         <img src="../../assets/Images/bg4.jpg" width="100%">
        </div>
      </div>
    </div>
    </div>